In [162]:
import pandas as pd
import os

In [163]:
shark = pd.read_csv('../Sharks-Attack/Input/sharks.csv') 
shark

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [164]:
null_colls = shark.isnull().sum()
null_colls[null_colls>1]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [165]:
drop_cols = list(null_colls[null_colls > 5900].index)

In [166]:
shark = shark.drop(drop_cols, axis =1)

In [167]:
shark.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

In [168]:
shark.rename(columns={'Species ': 'Species', 'Sex ': 'Sex'}, inplace=True)
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [169]:
shark['Species'].value_counts()

White shark                                 161
Shark involvement not confirmed              80
Tiger shark                                  68
Bull shark                                   52
6' shark                                     40
                                           ...
White shark, identification by K. Nakaya      1
Remains recovered 5 days later                1
"black tipped" shark                          1
1.7 m shark                                   1
"a blue shark"                                1
Name: Species, Length: 1538, dtype: int64

In [170]:
shark = shark.loc[(shark['Species'] != "Shark involvement not confirmed")]
shark['Species'].value_counts()

White shark                                   161
Tiger shark                                    68
Bull shark                                     52
6' shark                                       40
4' shark                                       39
                                             ...
Remains recovered 5 days later                  1
"black tipped" shark                            1
1.7 m shark                                     1
Blacktip shark, 1.8 m to 2.1 m [6' to 7']       1
"a blue shark"                                  1
Name: Species, Length: 1537, dtype: int64

In [171]:
coleliminar = ['Date', 'Name', 'Sex', 'Investigator or Source', 'pdf','href formula','href','Case Number.1','Case Number.2']
shark = shark.drop(coleliminar, axis=1)

In [172]:
shark.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species',
       'original order'],
      dtype='object')

In [173]:
print(set(shark['Year']))

{0, 5, 1543, 1554, 1555, 1580, 1595, 77, 1617, 1637, 1638, 1642, 1700, 1703, 1721, 1733, 1738, 1742, 1748, 1749, 1755, 1758, 1764, 1767, 1771, 1776, 1779, 1785, 1787, 1788, 1791, 1800, 1803, 1804, 1805, 1807, 1811, 1812, 1816, 1817, 1818, 1819, 1822, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1834, 1835, 1836, 1837, 1839, 1840, 1841, 1842, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 500}

In [174]:
shark = shark.loc[(shark['Year'] > 1900)]

In [175]:
shark['Fatal (Y/N)'].value_counts()

N          3963
Y          1179
UNKNOWN      73
 N            7
F             1
N             1
Name: Fatal (Y/N), dtype: int64

In [176]:
shark = shark.loc[(shark['Fatal (Y/N)'] == 'Y') | (shark['Fatal (Y/N)'] == 'N')]

In [177]:
shark['Type'].value_counts()

Unprovoked      3821
Provoked         518
Invalid          353
Boat             190
Sea Disaster     178
Boating           82
Name: Type, dtype: int64

In [178]:
shark = shark.loc[(shark['Type'] != 'Invalid')]

In [179]:
shark.Type = shark.Type.replace(['Boat', 'Boating'], 'Provoked')

In [180]:
shark.Type = shark.Type.replace('Sea Disaster', 'Unprovoked')

In [181]:
shark['Type'].value_counts()

Unprovoked    3999
Provoked       790
Name: Type, dtype: int64

In [182]:
shark['Country'].value_counts()

USA                         1797
AUSTRALIA                   1004
SOUTH AFRICA                 473
PAPUA NEW GUINEA             125
BRAZIL                        90
                            ...
ARUBA                          1
NORTHERN MARIANA ISLANDS       1
 PHILIPPINES                   1
CAPE VERDE                     1
HAITI                          1
Name: Country, Length: 166, dtype: int64

In [184]:
shark = shark.loc[(shark['Country'] == 'USA') | (shark['Country'] == 'AUSTRALIA') | (shark['Country'] == 'SOUTH AFRICA')]

In [185]:
shark.shape

(3274, 13)

In [186]:
shark

,Case Number,Year,Type,Country,Area,Location,Activity,Age,Injury,Fatal (Y/N),Time,Species,original order
0,2016.09.18.c,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,16,Minor injury to thigh,N,13h00,NaN,5993
1,2016.09.18.b,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,36,Lacerations to hands,N,11h00,NaN,5992
2,2016.09.18.a,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,43,Lacerations to lower leg,N,10h43,NaN,5991
3,2016.09.17,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,NaN,Struck by fin on chest & leg,N,NaN,NaN,5990
4,2016.09.15,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5302,1902.01.19,1902,Unprovoked,AUSTRALIA,Queensland,Brisbane,Swimming,16,Legs bitten,N,12h00,NaN,691
5303,1901.12.01,1901,Unprovoked,AUSTRALIA,Queensland,Brisbane,Bathing,10,Lacerations to torso & thigh,N,NaN,NaN,690
5306,1901.07.30,1901,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,29,"Right leg bitten & foot severed, right arm bit...",Y,14h15,White shark,687
5310,1901.01.30,1901,Unprovoked,AUSTRALIA,Queensland,Brisbane,Bathing,NaN,"Thigh bitten, FATAL",Y,NaN,NaN,683
5311,1901.00.00,1901,Unprovoked,USA,Florida,Indian River Inlet / Fort Pierce Inlet,Bathing,NaN,Abdomen bitten,N,NaN,NaN,682