In [294]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [295]:
shark = pd.read_csv('../Sharks-Attack/Input/sharks.csv') 
shark

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [296]:
null_colls = shark.isnull().sum()
null_colls[null_colls>1]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [297]:
drop_cols = list(null_colls[null_colls > 5900].index)

In [298]:
shark = shark.drop(drop_cols, axis =1)

In [299]:
shark.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

In [300]:
shark.rename(columns={'Species ': 'Species', 'Sex ': 'Sex', 'Fatal (Y/N)':'Fatal'}, inplace=True)
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [301]:
shark['Species'].value_counts()

White shark                                 161
Shark involvement not confirmed              80
Tiger shark                                  68
Bull shark                                   52
6' shark                                     40
                                           ...
White shark, identification by K. Nakaya      1
Remains recovered 5 days later                1
"black tipped" shark                          1
1.7 m shark                                   1
"a blue shark"                                1
Name: Species, Length: 1538, dtype: int64

In [302]:
shark = shark.loc[(shark['Species'] != "Shark involvement not confirmed")]
shark['Species'].value_counts()

White shark                                   161
Tiger shark                                    68
Bull shark                                     52
6' shark                                       40
4' shark                                       39
                                             ...
Remains recovered 5 days later                  1
"black tipped" shark                            1
1.7 m shark                                     1
Blacktip shark, 1.8 m to 2.1 m [6' to 7']       1
"a blue shark"                                  1
Name: Species, Length: 1537, dtype: int64

In [303]:
coleliminar = ['Date', 'Location', 'Activity', 'Name', 'Sex', 'Injury', 'Time', 'Species', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1','Case Number.2', 'original order']
shark = shark.drop(coleliminar, axis=1)

In [304]:
shark.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Age', 'Fatal'], dtype='object')

In [305]:
print(set(shark['Year']))

{0, 5, 1543, 1554, 1555, 1580, 1595, 77, 1617, 1637, 1638, 1642, 1700, 1703, 1721, 1733, 1738, 1742, 1748, 1749, 1755, 1758, 1764, 1767, 1771, 1776, 1779, 1785, 1787, 1788, 1791, 1800, 1803, 1804, 1805, 1807, 1811, 1812, 1816, 1817, 1818, 1819, 1822, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1834, 1835, 1836, 1837, 1839, 1840, 1841, 1842, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 500}

In [306]:
shark = shark.loc[(shark['Year'] > 1916)]

In [321]:
print(set(shark['Age']))

{nan, '21', '60s', '23', '63', '65', '53', '12 or 13', '32', 'MAKE LINE GREEN', '35', '71', '26', '29', '50', '52', '3', '(adult)', '36', '  ', '30 & 32', 'mid-30s', '18', '36 & 26', '37', '9 & 12', '73', '30 or 36', '77', '46', 'adult', '39', '\xa0 ', '6', '30s', 'Teen', '45', '56', '6½', '58', '25 or 28', '70', 'Both 11', '47', '61', '25', '78', '8', '13', '60', '40s', '41', '66', '38', '86', '>50', '11', '7', '50s', '12', '9', '17', '50 & 30', 'Teens', '5', '42', '9 months', '48', '33', '31', '44', '14', '51', '21 or 26', '22', '74', '57', '?    &   14', 'Elderly', 'F', '40', '30', '33 or 37', 'teen', '10', '75', '17 & 35', '55', '59', '28', '27', '54', '84', '49', '16', '69', '68', ' ', 'A.M.', '24', '19', '62', "60's", '17 & 16', '34', 'young', '87', '43', '7      &    31', '"young"', '20s', '64', '15', '20'}

In [307]:
shark['Fatal'].value_counts()

N          3858
Y          1043
UNKNOWN      66
 N            7
F             1
Name: Fatal, dtype: int64

In [308]:
shark = shark.loc[(shark['Fatal'] == 'Y') | (shark['Fatal'] == 'N')]

In [309]:
shark['Type'].value_counts()

Unprovoked      3647
Provoked         497
Invalid          324
Boat             190
Sea Disaster     165
Boating           78
Name: Type, dtype: int64

In [310]:
shark = shark.loc[(shark['Type'] != 'Invalid')]

In [311]:
shark.Type = shark.Type.replace(['Boat', 'Boating'], 'Provoked')

In [312]:
shark.Type = shark.Type.replace('Sea Disaster', 'Unprovoked')

In [313]:
shark['Type'].value_counts()

Unprovoked    3812
Provoked       765
Name: Type, dtype: int64

In [314]:
shark['Country'].value_counts()

USA                     1734
AUSTRALIA                945
SOUTH AFRICA             464
PAPUA NEW GUINEA         124
BRAZIL                    90
                        ...
Sierra Leone               1
UNITED ARAB EMIRATES       1
PUERTO RICO                1
ANGOLA                     1
HAITI                      1
Name: Country, Length: 162, dtype: int64

In [315]:
shark = shark.loc[(shark['Country'] == 'USA') | (shark['Country'] == 'AUSTRALIA') | (shark['Country'] == 'SOUTH AFRICA') | (shark['Country'] == 'PAPUA NEW GUINEA') | (shark['Country'] == 'BRAZIL')]

In [316]:
cutoffs = [1916,1936,1956,1976,1996,2016]
year_labels = ['1917-1936', '1937-1956', '1957-1976','1977-1996','1997-2016']
shark['Period'] = pd.cut(shark['Year'], cutoffs, labels = year_labels)
shark['Period'].value_counts()

1997-2016    1472
1977-1996     630
1957-1976     611
1937-1956     355
1917-1936     289
Name: Period, dtype: int64

In [318]:
sharkUSA = shark.loc[(shark['Country'] == 'USA')]
sharkAUS = shark.loc[(shark['Country'] == 'AUSTRALIA')]
sharkSA = shark.loc[(shark['Country'] == 'SOUTH AFRICA')]
sharkPNG = shark.loc[(shark['Country'] == 'PAPUA NEW GUINEA')]
sharkBRZ = shark.loc[(shark['Country'] == 'BRAZIL')]

In [319]:
print(sharkUSA['Period'].value_counts())
print(sharkAUS['Period'].value_counts())
print(sharkSA['Period'].value_counts())
print(sharkPNG['Period'].value_counts())
print(sharkBRZ['Period'].value_counts())

1997-2016    946
1977-1996    374
1957-1976    240
1937-1956     95
1917-1936     79
Name: Period, dtype: int64
1997-2016    321
1957-1976    186
1917-1936    185
1937-1956    159
1977-1996     94
Name: Period, dtype: int64
1997-2016    142
1977-1996    127
1957-1976    120
1937-1956     56
1917-1936     19
Name: Period, dtype: int64
1957-1976    64
1937-1956    42
1997-2016     9
1917-1936     5
1977-1996     4
Name: Period, dtype: int64
1997-2016    54
1977-1996    31
1937-1956     3
1957-1976     1
1917-1936     1
Name: Period, dtype: int64

In [322]:
shark

,Case Number,Year,Type,Country,Area,Age,Fatal,Period
0,2016.09.18.c,2016,Unprovoked,USA,Florida,16,N,1997-2016
1,2016.09.18.b,2016,Unprovoked,USA,Florida,36,N,1997-2016
2,2016.09.18.a,2016,Unprovoked,USA,Florida,43,N,1997-2016
3,2016.09.17,2016,Unprovoked,AUSTRALIA,Victoria,NaN,N,1997-2016
4,2016.09.15,2016,Unprovoked,AUSTRALIA,Victoria,NaN,N,1997-2016
...,...,...,...,...,...,...,...,...
5050,1917.12.15,1917,Unprovoked,AUSTRALIA,Western Australia,NaN,N,1917-1936
5052,1917.09.21,1917,Unprovoked,USA,New Jersey,NaN,N,1917-1936
5053,1917.09.09,1917,Provoked,USA,Hawaii,NaN,N,1917-1936
5055,1917.07.18,1917,Unprovoked,USA,Florida,NaN,Y,1917-1936
5057,1917.06.03,1917,Unprovoked,USA,South Carolina,NaN,N,1917-1936